<!--
  Pick the author
    **dropdown menu
  Type in the title
  Pick the Type
  Type in ingredients
  Type in Instructions
  Require a list of author entities
  -->
<%- include ('partials/header'); %>

  <h4>Welcome to creating a blog Post!</h4>
    <%- include ('partials/footer');  %>
  </body>
  </html>
