<%- include('partials/header', {title:"Boast About My Roast"}) -%>

<p> Welcome to the official site of Boast About My Roast! An easy guide to cooking and posting recipes!
  <br>
  <br>
  <a href="/blogPost">Click to view latest blog posts!</a>
  <%- include ('partials/navbar.ejs'); %>
  <%- include('partials/footer') -%>
