<%- include('partials/header', {title:"Boast About My Roast"}) -%>

<br>
<h3><center>Welcome to the official site of Boast About My Roast! An easy guide to cooking and posting recipes!</center></h3>
  <br>
  <br>
  <h6><center><a href="/blogPost">Click to view latest blog posts!</a></center></h6>
  <br><br>
  <%- include('partials/footer') -%>
