<!--
  A list/table of recipe titles alongside their calculated popularity score
  Requires the list of recipes and the popularity score
  -->
    <%- include ('partials/navbar'); %>
    <h2>Trending</h2>
    <table>
      <tr>
        <th>
          Recipes
        </th>
        <th>
          Trending %
        </th>
        <th>
          Author
        </th>
      </tr>
      <!-- for loop -->
      <tr>
        <th>
          <!-- the recipe name -->
        </th>
        <th>
          <!-- the popularity percentage -->
        </th>
        <th>
          <!-- link to author page of their recipes... -->
          <%for(let i = 0; i < author.length; i++){%>
            <a href="/author/<%=author[i].name%>"><%=author[i].name%></a>
          <%}%>
        </th>
      </tr>
    </table>
    <%- include ('partials/footer');  %>
</body>
</html>
